@media only screen and (min-width: 32.5em){

    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
    body {
        margin: 0 auto;
        padding: 5px;
        max-width: 980px;
    }
    header {
        font-family: 'Lobster';
        background: #89023e;
        color: white;
        line-height: 3em;
        font-size: 2em;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .grid {
        margin-left: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       grid-gap:15px;
    }
    .alig {
        padding: 10px;
        border: 10px white dotted;
        background: #ffd9da;
        border-radius: 10px;
        width: 250px;
    }
    .cont {
        border: dotted 10px #89023e;
        border-radius: 10px;
        padding: 10px;
        width: 300px;
    }
    .spa {
        padding: 10px;
        border: 10px white dotted;
        background: #ffd9da;
        border-radius: 15px;
        width: 250px;
    }
    .nam1 {
        font-family: 'Dancing Script', serif;
        font-size: 40px;
    }
    .nam2 {
        font-family: 'Abril Fatface', serif;
        font-size: 25px;
    }
    .link {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #e6bc00;
    }
    .img1, .img3 {
        border: solid 1px #89023e;
        width:245px;
    }
    .img {
        width: 295px;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    .nam12 {
        font-size: 30px;
        font-family: 'Dancing Script', serif;
    }
    .nam11 {
        font: size 25px;
        font-family: 'Dancing Script', serif;
        text-align: center;
    }
    footer {
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: white;
        background: #89023e;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        }
}