@media only screen and (min-width: 32.5em){
        img {
            width: 160px;
            height: auto;
            box-shadow:0 0 30px #530113;
            border-radius: 0 10px 0 0;
            float: right;
            }
    h2 {
        font-size: 30px;
    }
    h1, section {
        font-size: 40px;
    }
    .list {
        font-size: 30px;
    }
    footer {
        font-size: 25px;
    }
}