
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@media (max-width: 560px) {
header, footer {
background-color: #89023e;
border-radius: 5px;
}  
footer {
font-size: 15px;
font-family: 'Raleway', sans-serif;
text-align: center;
color: white;
}

body {
margin: auto;
}
header {
  font-size: 15px;
  font-family: 'Lobster', serif;
  color: white;
  text-align: center;
}
main {
padding-left: 30px;
padding-right: 30px;
margin-top: 50px;
}
h2 {
border-bottom: solid 1px #89023e;
font-family: 'Dancing Script', serif;
font-size: 20px;
}
img {
width: 100px;
height: 120px;
margin-top: 10px;
margin-right: 100px;
margin-left: 100px;
}
a {
color: #ffc7d8;
}
.list {
font-family: 'Raleway', sans-serif;
font-size: 15px;
}
#date { color: #f1c80d;}
        span {
            font-weight: 700;
        }
        .link {
            color: #f1c80d;
        }
}