
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

header, footer {
background-color: #89023e;
background-size: auto;
border-radius: 5px;
height: 70px;
}  
footer {
font-size: 15px;
font-family: 'Raleway', sans-serif;
text-align: center;
color: white;
}

body {
margin: auto;
max-width: 560px;

}
header {
  font-size: 20px;
  font-family: 'Lobster', serif;
  color: white;
}
main {
padding-left: 30px;
padding-right: 30px;
margin-top: 50px;
}
h2 {
border-bottom: solid 1px #89023e;
font-family: 'Dancing Script', serif;
font-size: 25px;
}
img {
width: 100px;
height: auto;
float: right;
margin-top: -40px;
margin-right: 20px;
}
.link {
color: #ffd9da;
}
a {
color: #ea638c;
}
.list {
font-family: 'Raleway', sans-serif;
font-size: 10px;
}

#date { color: yellow;}
span {
    font-weight: 700;
}