@media only screen and (min-width: 60em) {
    body {
        margin: 0 auto;
        max-width: 1024px;
    }
    /*header*/
    header {
        border-radius: 15px;
        box-shadow: inset 5px 5px 20px 5px #000037, inset -5px -5px 20px 5px #000037;
    }
    .title {
        font-size: 50px;
        grid-row: 1;
        line-height: 200px;
    }
    .slogan {
        grid-row: 1;    
        font-size: 25px;
        line-height: 50px;
    }
    .img {
        width: 450px;
    }
    /*navigation bar*/
    nav {
        border-radius: 15px;
    }
    nav ul li {
        font-size: 18px;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    
        /*main*/
    main {
        margin: 50px;
        border-radius: 15px;
        box-shadow: inset 5px 5px 30px 5px #000037, inset -5px -5px 30px 5px #000037;
    }
        h1 {
        font-size: 35px;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .gallery {
            width: 300px;
    height: 400px;
            padding: 15px;
            filter: blur(0em);
            transition: filter 0.5s;
        }
        .gallery[data-src] {
        filter: blur(0.2em);
        }  
    
        .event {
            font-size: 25px;
            margin: 10px;
        }  
    /*footer*/
        footer {
            font-size: 18px;
            border-radius: 15px;
        }

        