@media only screen and (min-width: 60em) {
    body {
        margin: 0 auto;
        max-width: 1024px;
    }
    /*header*/
    header {
        border-radius: 15px;
        box-shadow: inset 5px 5px 20px 5px #000037, inset -5px -5px 20px 5px #000037;
        height: 150px;
    }
    .title {
        font-size: 50px;
        grid-row: 1;
        line-height: 100px;
        margin-top: 20px;
    }
    .slogan {
        grid-row: 1;    
        font-size: 25px;
        margin-top: 100px;
    }
#logo {
    width: 450px;
    margin-top: 10px;
}
    /*navigation bar*/
    nav {
        border-radius: 15px;
    }
    nav ul li {
        font-size: 18px;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    
        /*main*/
    main {
        margin: 50px;
        border-radius: 15px;
        box-shadow: inset 5px 5px 30px 5px #000037, inset -5px -5px 30px 5px #000037;
        text-align:
    }
        h1 {
        font-size: 35px;
        }
        h2 {
        font-size: 30px;
        text-align: center;
        }
        footer {
            font-size: 18px;
            border-radius: 15px;
        }
    }
    .event {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
    }

   input {
       width: 90%;
   }