@media only screen and (min-width: 32.5em) {
    body {
        margin: 0 auto;
        max-width: 650px;
    }
    /*header*/
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        padding: 0;
        border-radius: 10px;
        box-shadow: inset 5px 5px 15px 5px #000037, inset -5px -5px 15px 5px #000037;
        height: 120px;
    }
    
    .title {
        grid-column: 2;
        grid-row: 1;
        font-family: 'Bree Serif';
        font-size: 25px;
        margin-bottom: 10em;
        padding: 0px;
        margin-top: 60px;
        color: #3a063d;
        line-height: 10px;
    }
    .slogan {
        grid-row:1;
        grid-column: 2;
        font-family: 'Rubik';
        font-size: 10px;
        margin-top: 80px;
        text-align: center;
        color: #000037;
        line-height: 10px;
    }
    
    #logo {
        grid-row: 1;
        width: 300px;
        margin-top: 10px;
    }
    /*navigation bar*/
nav {
    border-radius: 10px;
}
    nav button {
        display: none;
    }
    nav ul li {
        padding: 20px;
        display: inline-block;
        font-size: 15px;

    }
    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul.hide {display: block;}
        /*main*/
    main {
        margin: 20px;
        border-radius: 10px;
        box-shadow: inset 5px 5px 20px 5px #000037, inset -5px -5px 20px 5px #000037;
    }
        h1 {
            font-family: 'Bree Serif';
        font-size: 30px;
        }
        h2 {
            font-family: 'Bree Serif';
        font-size: 20px;
        text-align: center;
        }
        footer {
            background-color: #000037;
            color: #E1B915;
            font-family: 'Rubik';
                    font-size: 18px;
                    text-align: center;
                    border-radius: 10px;
                }
            }
.box {
    flex-direction: row;
}
.box label {
    flex-basis: 9rem;
    flex-grow: 0;
    flex-shrink: 0;
}
fieldset {
    width: 80%;
    margin: auto;
}