@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
    margin: 0 auto;
    background: "images/mountain.jpg";
}
/*header*/
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    background-color: white;
    border: 1px outset #000037;
    box-shadow: inset 5px 5px 10px 5px #000037, inset -5px -5px 10px 5px #000037;
    margin: 0 0 20px 0;
    border-radius: 5px;
    height: 80px;
}

.title {
    grid-column: 2;
    grid-row: 1;
    font-family: 'Bree Serif';
    font-size: 15px;
    margin: 0 0 10px 0;
    padding: 20px;
    color: #3a063d;
}
.slogan {
    grid-row:1;
    grid-column: 2;
    font-family: 'Rubik';
    font-size: 10px;
    margin: 40px 0 10px 0;
    text-align: center;
    color: #000037;

}

#logo {
    grid-row: 1;
    padding: 20px 0 0 50px;
    width: 50%;
}
/*navigation bar*/
nav {
    background-color: #000037;
    font-family: 'Bree Serif';
    font-size: 18px;
    border-radius: 5px;

}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    color: #E1B915;
    font-size: 1.6rem;
}
nav ul {
    color: #FFFFFF;
    list-style-type: none;
padding: 0;
margin: 0;
overflow: hidden;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid #E1B915;
}

  .menu {
    color: #E1B915;
  }
  .active {
      background-color: #3a063d;
      color: #FFFFFF;
  }

nav ul li a:hover {
    background-color: #FFFFFF;
    color: #17171a;
}
nav ul li.active a{background-color: #3a063d; color: #FFFFFF;}
nav ul.hide {display:none; }

    /*main*/
main {
    margin: 20px;
    background-color: white;
    border: 1px outset #000037;
    box-shadow: inset 5px 5px 15px 5px #000037, inset -5px -5px 15px 5px #000037;
    border-radius: 5px;
    width: auto;
    overflow: hidden;
    width: 90%;
}
    h1 {
        font-family: 'Bree Serif';
    font-size: 25px;
    }
    h2 {
        font-family: 'Bree Serif';
    font-size: 20px;
    text-align: center;
    color: #000037;
    }

/*footer*/
    footer {
background-color: #000037;
color: #E1B915;
font-family: 'Rubik';
        font-size: 15px;
        text-align: center;
padding: 20px;
border-radius: 5px;
    }
.event {
    background-color: #17171a;
    color: #FFFFFF; 
    text-align: center;
    font-family: 'Bree Serif';
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 10px;
}
/*week08 -----------------FORM*/
form fieldset {
    margin-top: 20px;
    border: 2px solid #3a063d;
    border-radius: 5px;
    padding: .5rem 2%;
    width: 80%;

}
form label {
    width: 80%;
    margin: 0 auto;
}
form legend {
    font-family: 'Bree Serif';
    color: #17171a;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
display: block;
padding-top: 10px;
color: #17171a;
font-family: 'Rubik';
font-size: 15px;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-family: 'Rubik';
    font-size: 15px;
    border: solid 1px #3a063d;
    border-radius: 5px;
    padding: .75rem;
    color: #17171a;
    width: 90%;
}
form select {
    padding: .75rem;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #17171a;
    font-family: 'Rubik';
    font-size: 15px;
}
form label.sbs input {
    display: block;
    padding: .75rem;
    width: 90%;
}
form label.sbsD {
    font-family: 'Rubik';
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
input[type="radio"] {
    margin-top: 15px;
}
form textarea {
    width: 90%;
    font-family: 'Rubik';
    font-size: 15px;
    border: 1px solid #17171a;
    border-radius: 5px;
    margin: 15px 15px auto;
    height: 250px;
}
form input.submitButton {
    border: none;
    background-color: #000037;
    color: #FFFFFF;
    font-family: 'Bree Serif';
    font-size: 15px;
    border-radius: 5px;
    padding: .75rem;
    margin: 0 0 2rem 2rem;
    width: 80%;
}
form label.top input:required {
    border-left: #3a063d solid 6px;
}
form label.top input:required:valid {
    border-left: #E1B915 solid 6px;
}
/*thanks*/
.thanks {
    background-color: #17171a;
    border: outset 1px #17171a;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Bree Serif';
    font-size: 30px;
    text-align: center;
    width: 50%;
    margin: 50px auto;
    box-shadow: inset 3px 3px 15px #FFFFFF, inset -3px -3px 15px #FFFFFF;
    padding: 20px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content:"";
    display: table;
    clear: both;
        }