@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: #e7f0ed;
}

table {
    border: 2px solid rgb(0, 0, 0, .2);
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 10px 10px 15px #628ca6;
    width: 400px;
    text-align: center;
}

th, td {
    border-left: 2px solid rgb(0, 0, 0, .2);
    border-top: 2px solid rgb(0, 0, 0, .2);
    border-collapse: collapse;
    line-height: 20px;
    padding: 20px;
}
th {
    font-size: 35px;
}
th, #foot {
    font-family: 'Ubuntu', sans-serif;
    background-color: #7fb9c2;
    color: black;
}

tr:first-child {
    font-family: 'Ubuntu', sans-serif;
    background-color: #628ca6; 
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.tiny {
    background-color: #e7ffed;
}

td {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

#foot {
    font-size: 15px; 
}
