@media only screen and (min-width: 60em) {
    body {
        margin: 0 auto;
        max-width: 1024px;
    }
    /*header*/
    header {
        border-radius: 15px;
        box-shadow: inset 5px 5px 20px 5px #000037, inset -5px -5px 20px 5px #000037;
        height: 150px;
    }
    .title {
        font-size: 50px;
        grid-row: 1;
        line-height: 100px;
        margin-top: 20px;
    }
    .slogan {
        grid-row: 1;    
        font-size: 25px;
        margin-top: 100px;
    }
#logo {
    width: 450px;
    margin-top: 10px;
}
    /*navigation bar*/
    nav {
        border-radius: 15px;
    }
    nav ul li {
        font-size: 18px;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    
        /*main*/
    main {
        margin: 50px;
        border-radius: 15px;
        box-shadow: inset 5px 5px 30px 5px #000037, inset -5px -5px 30px 5px #000037;
    }
        h1 {
        font-size: 35px;
        }
        h2 {
        font-size: 30px;
        text-align: center;
        }

        .contentbox {
            border: dashed 1px #000037;
            background-color: #3a063d;
            color: #FFFFFF;
            margin: 10px;
            font-family: 'Rubik';
            font-size: 25px;
            padding: 10px;
        }
    /*footer*/
        footer {
            font-size: 18px;
            border-radius: 15px;
        }

        /*new added*/
        .hero {
            width: 800px;
            font-size: 25px;
            margin: 0 auto;
        } 
        .photo {
            position: relative;
        }
        .contact {
            width: 800px;
         height: 200px;
        }
        .img3 {
margin: 0 30px 30px 30px;
        } 
        .datos {
            width: 400px;
            font-size: 25px;
            line-height: 50px;
        }
        .article {
            width:800px;
            height:250px;
            margin:0 auto;
        }
.img4 {
    width: 250px;
    height:200px;
    float: right;
}
        p {
            font-size: 20px;
        }
.p {
    width: 600px;
}
        .square {
            position: absolute;
            top: 10px;
            left: 50px;
            background: radial-gradient(#eee, #E1B915);
            border: 1px solid #000037;
            padding: .5rem;
            box-shadow: 0 0 30px #000037;
            opacity: .8;
        }
        .weather {
            font-size: 20px;
        }
        .list {
            font-size: 15px;
        }

        table {
            width: 700px;
            }
            thead {
                font-size: 25px;
            }
            .body {
                font-size: 20px;
            }
.event {
    font-size: 25px;
    width: 800px;
}