@media only screen and (min-width: 60em) {
    body {
        margin: 0 auto;
        max-width: 1024px;
    }
    /*header*/
    header {
        border-radius: 15px;
        box-shadow: inset 5px 5px 20px 5px #000037, inset -5px -5px 20px 5px #000037;
        height: 150px;
    }
    .title {
        font-size: 50px;
        grid-row: 1;
        line-height: 100px;
        margin-top: 20px;
    }
    .slogan {
        grid-row: 1;    
        font-size: 25px;
        margin-top: 100px;
    }
#logo {
    width: 450px;
    margin-top: 10px;
}
    /*navigation bar*/
    nav {
        border-radius: 15px;
    }
    nav ul li {
        font-size: 18px;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    
        /*main*/
    main {
        margin: 50px;
        border-radius: 15px;
        box-shadow: inset 5px 5px 30px 5px #000037, inset -5px -5px 30px 5px #000037;
    }
        h1 {
        font-size: 35px;
        }
        h2 {
        font-size: 30px;
        text-align: center;
        }
    /*footer*/
        footer {
            font-size: 18px;
            border-radius: 15px;
        }
        /*5 day forecast*/
        .day {
            width: 800px;
        }
    /*article*/
    .article {
        width: 800px;
        margin: 10px 10px 10px 50px;
    }
    .img4 {
        width: 350px;
    }
    .p {
        font-size: 25px;
    }  
/*contact*/
.contact {
    width: 800px;
    margin: 10px 10px 30px 50px;
} 
.datos {
    font-size: 25px;
    text-align: center;
    padding: 40px;
    line-height: 50px;
}
.face {
    width: 100px;
}
.img3 {
    width: 300px;
    height: 300px;
}
.event {
    font-size: 25px;
    width: 800px;
}
}