@media only screen and (min-width: 32.5em) {
    body {
        margin: 0 auto;
        max-width: 650px;
    }
    /*header*/
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        padding: 0;
        border-radius: 10px;
        box-shadow: inset 5px 5px 15px 5px #000037, inset -5px -5px 15px 5px #000037;
        height: 120px;
    }
    
    .title {
        grid-column: 2;
        grid-row: 1;
        font-family: 'Bree Serif';
        font-size: 25px;
        margin-bottom: 10em;
        padding: 0px;
        margin-top: 60px;
        color: #3a063d;
        line-height: 10px;
    }
    .slogan {
        grid-row:1;
        grid-column: 2;
        font-family: 'Rubik';
        font-size: 10px;
        margin-top: 80px;
        text-align: center;
        color: #000037;
        line-height: 10px;
    }
    
    #logo {
        grid-row: 1;
        width: 300px;
        margin-top: 10px;
    }
    /*navigation bar*/
nav {
    border-radius: 10px;
}
    nav button {
        display: none;
    }
    nav ul li {
        padding: 20px;
        display: inline-block;
        font-size: 15px;

    }
    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul.hide {display: block;}
        /*main*/
    main {
        margin: 20px;
        border-radius: 10px;
        box-shadow: inset 5px 5px 20px 5px #000037, inset -5px -5px 20px 5px #000037;
    }
        h1 {
            font-family: 'Bree Serif';
        font-size: 30px;
        }
        h2 {
            font-family: 'Bree Serif';
        font-size: 20px;
        text-align: center;
        }
    
        .contentbox {
            border: dashed 1px #000037;
            background-color: #3a063d;
            color: #FFFFFF;
            margin: 10px;
            font-family: 'Rubik';
            font-size: 20px;
            padding: 10px;
        }
    /*footer*/
        footer {
    background-color: #000037;
    color: #E1B915;
    font-family: 'Rubik';
            font-size: 18px;
            text-align: center;
            border-radius: 10px;
        }
        /*new added*/
        .hero {
            width: 500px;
            font-size: 20px;
        }

        .contact {
            display: flex;
            flex-direction: row-reverse;
            width: 500px;
            padding: 20px;
        }
        .img3 {
            float: left;
        }
        .datos {
            line-height: 40px;
            padding: 5px;
        }
        .article {
            display: flex;
            flex-direction: row;
            padding:20px;
            width:550px;
        }
        .img4 {
            width: 200px;
            height:180px;
            float: right;
        }
        p {
            font-size: 20px;
        }
        .p {
            width: 350px;
            line-height: 40px;
        }
        .square {
            position: absolute;
            top: 10px;
            left: 50px;
            background: radial-gradient(#eee, #E1B915);
            border: 1px solid #000037;
            padding: .5rem;
            box-shadow: 0 0 30px #000037;
            opacity: .8;
        }
        .weather {
            font-size: 20px;
        }
        .list {
            font-size: 15px;
            font-style: italic;
            color: #17171a;
        }
        .day {
            border-radius: 15px;
        }
        .head {
            font-size: 20px;
            font-family: 'Rubik';
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 5px;
        }
        .degree {
            font-size: 20px;
        }
        .icono {
            width: 50px;
            height: 50px;
            align-items: center;
        }
.event {
    font-size: 20px;
    width: 500px;
}