/*@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
    margin: 0 auto;
    width: 100vw;
}
/*header*/
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    background-color: white;
    border: 1px outset #000037;
    box-shadow: inset 5px 5px 10px 5px #000037, inset -5px -5px 10px 5px #000037;
    margin: 0 0 20px 0;
    border-radius: 5px;
    height: 80px;
}

.title {
    grid-column: 2;
    grid-row: 1;
    font-family: 'Bree Serif';
    font-size: 15px;
    margin: 0 0 10px 0;
    padding: 20px;
    color: #3a063d;
}
.slogan {
    grid-row:1;
    grid-column: 2;
    font-family: 'Rubik';
    font-size: 10px;
    margin: 40px 0 10px 0;
    text-align: center;
    color: #000037;

}

#logo {
    grid-row: 1;
    padding: 20px 0 0 50px;
    width: 50%;
}
/*navigation bar*/
nav {
    background-color: #000037;
    font-family: 'Bree Serif';
    font-size: 18px;
    border-radius: 5px;

}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    color: #E1B915;
    font-size: 1.6rem;
}
nav ul {
    color: #FFFFFF;
    list-style-type: none;
padding: 0;
margin: 0;
overflow: hidden;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid #E1B915;
}

  .menu {
    color: #E1B915;
  }
  .active {
      background-color: #3a063d;
      color: #FFFFFF;
  }

nav ul li a:hover {
    background-color: #FFFFFF;
}
nav ul li.active a{background-color: #3a063d; color: #FFFFFF;}
nav ul.hide {display:none; }

    /*main*/
main {
    background-color: white;
    border: 1px outset #000037;
    box-shadow: inset 5px 5px 15px 5px #000037, inset -5px -5px 15px 5px #000037;
    border-radius: 5px;
    overflow: hidden;
}
    h1 {
        font-family: 'Bree Serif';
    font-size: 25px;
    }
    h2 {
        font-family: 'Bree Serif';
    font-size: 20px;
    text-align: center;
    color: #000037;
    margin: 30px 0 0 0;
    }
/*hero section*/
.hero {
    position: relative;
}
.photo img {
 margin: 50px;
 box-shadow: 5px 5px 15px 5px #17171a;
}
.square {
    position: absolute;
    top: 60px;
    left: 60px;
    border: 1px outset #000037;
    border-radius: 5px;
    font-family: 'Rubik';
    font-size: 10px;
    background: radial-gradient(#FFFFFF, #E1B915);
    opacity: 70%;

}
.square h2 {
    font-size: 10px;
}
/*5 day forecast*/
.day {
    display: flex;
    flex-flow: row wrap;
    background-color: #000037;
    color: #FFFFFF;
    font-family: 'Bree Serif';
    width: 400px;
    margin: 35px;
    border-radius: 5px;
}
.column {
    flex: 1 1 auto;
    text-align: center;
}
.head {
    display: block;
    padding: 5px;
    border-bottom: 2px solid #FFFFFF;
    background-color: #17171a;
    text-align: center;
    border-radius: 5px;
}
.icono {
    border-radius: 100px;
    padding: 0.25rem;
}
.degree {
    display: block;
    padding: 0 5px 5px;
    text-align: center;
}
/*Article*/
h6 {
    text-align: center;
    margin: 0 auto;
}
#title {
    margin: 0 auto;
}
.article {
    display: flex;
}
.img4 {
    width: 180px;
    margin: 10px 30px 10px 30px;
}
.p {
    margin: 10px 0 10px 30px;
font-family: 'Rubik';
font-size: 15px;
}
/*Contact*/
.contact {
    border: 1px solid #000037;
    margin: 50px;
    background-color: #000037;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 15px;
    line-height: 50px;
}
.contact ul {
    list-style-type: none;
}
.face {
    width: 20px;
}
.img3 {
    width: 200px;
    height: 200px;
    margin: 60px;
}
/*footer*/
    footer {
background-color: #000037;
color: #E1B915;
font-family: 'Rubik';
        font-size: 15px;
        text-align: center;
padding: 20px;
border-radius: 5px;
    }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content:"";
    display: table;
    clear: both;
        }