@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
    margin: 0 auto;
}
/*header*/
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    background-color: white;
    border: 1px outset #000037;
    box-shadow: inset 5px 5px 10px 5px #000037, inset -5px -5px 10px 5px #000037;
    margin: 0 0 20px 0;
    border-radius: 5px;
    height: 80px;
}

.title {
    grid-column: 2;
    grid-row: 1;
    font-family: 'Bree Serif';
    font-size: 15px;
    margin: 0 0 10px 0;
    padding: 20px;
    color: #3a063d;
}
.slogan {
    grid-row:1;
    grid-column: 2;
    font-family: 'Rubik';
    font-size: 10px;
    margin: 40px 0 10px 0;
    text-align: center;
    color: #000037;

}

#logo {
    grid-row: 1;
    padding: 20px 0 0 50px;
    width: 50%;
}
/*navigation bar*/
nav {
    background-color: #000037;
    font-family: 'Bree Serif';
    font-size: 18px;
    border-radius: 5px;

}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    color: #E1B915;
    font-size: 1.6rem;
}
nav ul {
    color: #FFFFFF;
    list-style-type: none;
padding: 0;
margin: 0;
overflow: hidden;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid #E1B915;
}

  .menu {
    color: #E1B915;
  }
  .active {
      background-color: #3a063d;
      color: #FFFFFF;
  }

nav ul li a:hover {
    background-color: #FFFFFF;
}
nav ul li.active a{background-color: #3a063d; color: #FFFFFF;}
nav ul.hide {display:none; }

    /*main*/
main {
    margin: 20px;
    background-color: white;
    border: 1px outset #000037;
    box-shadow: inset 5px 5px 15px 5px #000037, inset -5px -5px 15px 5px #000037;
    border-radius: 5px;
    width: auto;
}
    h1 {
        font-family: 'Bree Serif';
    font-size: 25px;
    }
    h2 {
        font-family: 'Bree Serif';
    font-size: 20px;
    text-align: center;
    color: #000037;
    }

/*footer*/
    footer {
background-color: #000037;
color: #E1B915;
font-family: 'Rubik';
        font-size: 15px;
        text-align: center;
padding: 20px;
border-radius: 5px;
    }
/*hero section*/
.hero {
    position: relative;
    width: auto;
    margin: 0 auto;
}
.square {
    position: absolute;
    top: 1px;
	left: 50px;
	background: radial-gradient(#eee, #E1B915);
	border: 1px solid #000037;
	box-shadow: 0 0 30px #000037;
    opacity: .8;
}
.weather {
    font-size: 15px;
}
.list {
    font-size: 10px;
    font-style: italic;
    color: #17171a;
}
.banner {
        border: solid 1px #17171a;
        box-shadow: 10px 10px 15px 5px #17171a;
    }
}
main picture.photo source {width: 100%;}

.contact {
    border: solid 2px #000037;
    background-color: #E1B915;
    width: 320px;
margin-left: 30px;
margin-right: 30px;
margin-bottom: 40px;
}
.img3 {
    margin: 50px;
    align-items: center;
box-shadow: 2px 2px 5px #17171a, -2px -2px 5px #17171a;
width: 200px;
height: 200px;
}
.datos {
    font-family: 'Rubik';
    text-align: center;
    line-height: 30px;
}
.article {
    width: auto;
    margin:0 auto;
}
.img4 {

width: 150px;
height:120px;
}
p {
    font-family: 'Rubik';
    font-size: 15px;
    color: #17171a;
}

.name {
    color: #000037;
}
h6 {
    font-size: 10px;
    font-family: 'Rubik';
    color: #17171a;
}
.day {
    display: flex;
    flex-flow: row wrap;
    background-color: #000037;
    margin: 20px;
    color: #FFFFFF;
    border-radius: 10px;
}
.column {
    flex: 1 1 auto;
}
.head {
    display: block;
    text-align: center;
    background-color: #17171a;
    font-size: 12px;
    font-family: 'Rubik';
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}
.degree {
    display: block;
    text-align: center;
    font-family: 'Rubik';
    font-size: 10px;
}
.icono {
    width: 30px;
    height: 30px;
    align-items: center;
}
.event {
    background-color: #17171a;
    color: #FFFFFF; 
    text-align: center;
    font-family: 'Bree Serif';
}
.face {
    width: 30px;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content:"";
    display: table;
    clear: both;
        }