@media only screen and (min-width: 32.5em) {
    body {
        margin: 0 auto;
        max-width: 650px;
    }
    /*header*/
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px;
    }
    
    .title {
        grid-column: 2;
        grid-row: 2;
        font-family: 'Bree Serif';
        font-size: 25px;
        margin-bottom: 10em;
        padding: 0px;
        margin-top: 30px;
        color: #3a063d;
        line-height: 10px;
    }
    .slogan {
        grid-row:2;
        grid-column: 2;
        font-family: 'Rubik';
        font-size: 10px;
        margin-top: 6em;
        text-align: center;
        color: #000037;
        line-height: 10px;
    }
    
    img {
        grid-row: 2;
        width: 300px;
    }
    /*navigation bar*/

    nav button {
        display: none;
    }
    nav ul li {
        float: left;
        font-size: 15px;

    }
    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }
    nav ul.hide {display: block;}
        /*main*/
    main {
        margin: 20px;
    }
        h1 {
            font-family: 'Bree Serif';
        font-size: 30px;
        }
        h2 {
            font-family: 'Bree Serif';
        font-size: 20px;
        text-align: center;
        }
    
        .contentbox {
            border: dashed 1px #000037;
            background-color: #3a063d;
            color: #FFFFFF;
            margin: 10px;
            font-family: 'Rubik';
            font-size: 20px;
            padding: 10px;
        }
    /*footer*/
        footer {
    background-color: #000037;
    color: #E1B915;
    font-family: 'Rubik';
            font-size: 18px;
            text-align: center;
        }
        /*new added*/
        .hero {
            width: 500px;
            font-size: 20px;
        }
        .img2 {
            width: 600px;
            height: 250px;
        }
        .contact {
            width: 600px;
         height: 200px;
        }

        .article {
            width:600px;
            height:250px;
        }
        .img3 {
            float: left;
        }
.img4 {
    width: 250px;
    height:200px;
    float: right;
}
        p {
            font-size: 20px;
        }
        .square {
            position: absolute;
            top: 10px;
            left: 50px;
            background: radial-gradient(#eee, #E1B915);
            border: 1px solid #000037;
            padding: .5rem;
            box-shadow: 0 0 30px #000037;
            opacity: .8;
        }
        .weather {
            font-size: 20px;
        }
        .list {
            font-size: 15px;
            font-style: italic;
            color: #17171a;
        }