@media only screen and (min-width:60em) {
    body {
        max-width: 960px;
    }
    nav {
        border-radius: 15px;
    }
    nav a {
        font-size: 30px;
    }
    main {
        margin: 20 20 20 20;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .logo {
        width: 740px;
        height:390px;
    }
    .footer {
        border-radius: 15px;
    }
.nav {
    padding: 5px;
}
ul {
    font-size: 20px;
}
    /*target audience*/
    .sec1 .sec2 {
    border-radius: 15px;
    border: dotted 6px #89023e;
    }
    .sec1, .sec2 {
        display: flex;
        text-align: left;
        padding: 20px;
        font-size: 20px;
    }
    .img2 {
        width:230px;
        height: 220px;
    }
    .img21 {
        width:230px;
        height: 220px;
    }
    /*color scheme*/
    .img3 {
        width: 940px;
    }
    table {
        font-size: 25px;
        border:solid 4px #89023e;
    }
    td {
        border: solid 2px #89023e;

    }
    /*typography*/
    .table2 {
        font-size: 25px;
    }
    }