@media only screen and (min-width: 768px) {
body {
    margin: 20px;
}
main, footer {
    width: 768px;
}
.logo {
    grid-row: 1/3;
}
.header {
    grid-row: 2;
}
nav {
    display: flex;
    margin: 20px 0 5px 15px;
    width: 550px;
    height: 30px;
}
nav ul li {
    border-left: 1px solid #FFFFFF;
    width: 109px;
}
nav a {
    display: block;
    text-align: center;
    line-height: 5px;
}
nav button {
display: none;
}
nav ul {
flex-flow: row wrap;
width: 565px;
}
nav ul.hide {display: flex; }


.square {
    width: 765px;
    font-size: 20px;
}
#icon0 {
    width: 50px;
    height:50px;
}
.flex {
    width: 765px;
}
.col-head {
    display: block;
    text-align: center;
    font-size: 20px;
}
.iconB {
    width: 50px;
    height: 50px;
    margin: 5px 50px 5px 50px;
}
.data {
    font-size: 15px;
}
.introduction {
    margin-top: 10px;
    display: flex;
}
.call p {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.call button {
margin: 0 130px;
height: 50px;
width: 120px;
font-size: 20px;
}
.types {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact {
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}
.contact section iframe {
    width: 250px;
    height: 250px;
    grid-column: 1;
    grid-row: 1/4;
}
.contact section p {
    grid-column: 2;
    margin: 30px 20px 0 0;
    font-size: 20px;
}
.social {
    margin: 30px;
}
.social img {
    width: 50px;
    grid-row: 1;
    margin: 10px 90px 0 90px;
}
.social a {
text-align: center;
    font-size: 20px;
}
.insta {
    grid-column: 2;
}
.twit {
    grid-column: 3;
}
h3 {
    font-size: 20px;
}
footer {
font-size: 18px;
}
.date {
    color: #ffde00;
    font-family: 'Nanum Gothic';
}
}