body {
    margin: 5px;
}
header {
    display: grid;
}
.logo {
    grid-column: 1;
}
.header {
    grid-column: 2;
}
nav {
    font-family: 'Nanum Gothic';
    font-size: 15px;
}
nav button {
    background-color: transparent;
    border: none;
    color: #c4003d;
    font-size: 2rem;
margin: 10px 0 0 70px;  
}
nav ul {
    list-style-type: none;
padding: 0;
margin: 0;
overflow: hidden;
background-color: #c4003d;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid #FFFFFF;
}

  .menu {
    color: #FFFFFF;
  }
  .active {
      background-color: #aae300;
      color: #000000;
  }

nav ul li a:hover {
    background-color: #ffde00;
}
nav ul li.active a{background-color: #3a063d; color: #FFFFFF;}
nav ul.hide {display:none; }
.hero {
    position: relative;
    margin: 0;
}
.banner {
    position: absolute;
    background: #aae300;
    width: 150px;
    font-size: 10px;
    font-family: 'Nanum Gothic';
    top: 10px;
    left: 10px;
    border: 2px solid #0239AD;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Nanum Gothic';
}
.place, .place3 {
    background-color: #ffde00;
    border: 1px solid #0239AD;
    width: 100%;
    color: #0239AD;
    margin-bottom: 20px;
}
.place2 {
    background-color: #aae300;
    border: 1px solid #0239AD;
    width: 100%;
    color: #0239AD;
    margin-bottom: 20px;
}
.place h3, .place2 h3, .place3 h3 {
    font-family: 'Nanum Gothic';
    text-align: center;
    font-style: italic;
    font-size: 25px;
}
.place p, .place2 p, .place3 p {
    font-family: 'Muli';
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}
.place iframe, .place2 iframe, .place3 iframe {
    width: 100%;
}
.contact {
 background-color: #0239AD;
 color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    padding: 0;
    margin-left: 0;
}
.contact #one {
    font-family: 'Muli';
    font-size: 10px;
    padding: 5px;

}
.contact #two {
    font-family: 'Muli';
    font-size: 10px;
    padding: 5px;
    flex: 1;
}
.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    background-color: #0239AD;
}
.face {
    grid-column: 1;
}
.social img {
    width: 20px;
    grid-row: 1;
    margin: 0 auto;
}
.social a {
    margin-bottom: 10px;
    font-family: 'Muli';
    font-size: 10px;
    text-align: center;
    color: #ffde00;
}
.insta {
    grid-column: 2;
}
.twit {
    grid-column: 3;
}
footer {
    background-color: #ffde00;
    color: #000000;
    font-family: 'Muli';
    text-align: center;
}
.date {
    color: #c4003d;
    font-family: 'Nanum Gothic';
}
 .clearfix:after {
    content:"";
    display: table;
    clear: both;
        }